.console, .internals-panel, .editor pre, .memory-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 9.5px;
    padding-right: 9.5px;
    margin-bottom: 10px;
}

.editor {
    height: 400px;
    height: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.editor pre {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.console {
    height: 50px;
}

.internals-panel {
    height: 350px;
    clear: both;
}

.internals-panel .left-registers {
    float: left;
}

.internals-panel .right-registers {
    float: right;
}
